<div class="full-width" [formGroup]="form">
  <!--<span>{{label}}</span>-->
  <mat-chip-list>
    <mat-chip color="primary" selected="true" *ngFor="let item of members">
      {{item.name}} <span (click)="removeMember(item)" class="remove-tag">x</span>
    </mat-chip>
  </mat-chip-list>
  <mat-form-field *ngIf="displayInput" class="full-width">
    <input matInput [placeholder]="placeholder" [matAutocomplete]="autoMember" formControlName="memberSearch">
  </mat-form-field>
</div>
<mat-autocomplete #autoMember [displayWith]="displayUser">
  <mat-option *ngFor="let user of memberResults$ | async" [value]="user" (onSelectionChange)="handleMemberSelection(user)">
    {{user.name}}
  </mat-option>
</mat-autocomplete>
