<mat-sidenav-container [class.app-dark-theme]="darkTheme">
  <mat-sidenav #sideNav>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <div class="site">
    <header>
      <app-header (toggle)="sideNav.toggle()" (dark)="switchTheme($event)"></app-header>
    </header>
    <main>
      <!--<router-outlet></router-outlet>-->
      <div class="traffic-light" [@signal]="signal"></div>
      <div>
        <button (click)="go()">GO</button>
        <button (click)="stop()">STOP</button>
      </div>
    </main>
    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</mat-sidenav-container>
